In [3]:
print('Hello, Python')
print("Kavin")
print('Kavin')
#"..." dan '..' tidak memiliki perbedaan

Hello, Python
Kavin
Kavin

In [3]:
print("Programming","Essentials","in",end="...",sep="***")
print("Python")

Programming***Essentials***in...Python

In [24]:
print("*\t"*2)
print("**\t"*2)
print("***\t"*2)
print("****\t"*2)
print("*****\t"*2)

*	*
**	**
***	***
****	****
*****	*****

In [26]:
print("I'm Monty Python")

I'm Monty Python

In [36]:
print('"I\'m"\n""learning""\n"""Python"""')

"I'm"
""learning""
"""Python"""

In [47]:
a=2
b=4
c=(a*a+b*b)**0.5
print("C = ",c)

C =  4.47213595499958

In [51]:
Darjo=3
Darno=5
Waginem=6

totalApel=Darjo+Darno+Waginem
print("Darjo memiliki ",Darjo," Apel, Darno memiliki ",Darno," Apel, Waginem memiliki ",Waginem," apel")

print("Total apel milik mereka = ",totalApel)

Darjo memiliki  3  Apel, Darno memiliki  5  Apel, Waginem memiliki  6  apel
Total apel milik mereka =  14

In [57]:
kilometer = 12.25
mil = 7.38

mil_to_kilometer = mil*1.61
kilometers_to_miles = kilometer/1.61

print(mil, "1 mil adalah", round(mil_to_kilometer, 2), "kilometer")
print(kilometer, "1 kilometer adalah", round(kilometers_to_miles, 2), "mil")

7.38 1 mil adalah 11.88 kilometer
12.25 1 kilometer adalah 7.61 mil

In [69]:
x = 0
x = float(x)
y= 3*x*x*x - 2*x*x*x + 3*x -1
print("y =",y)

y = -1.0

In [72]:
print("+" + 10*"-" + "+")
print(("|" + 10*" " + "|\n") * 5, end="")
print("+" + 10*"-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

In [73]:
a=float(2)
b=float(3)

tambah=a+b
kurang=a-b
kali=a*b
bagi=a/b