In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "data1.csv"
data = pd.read_csv(path)

In [3]:
data.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [4]:
data.tail()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [5]:
print(data.dtypes)

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [6]:
data.describe()

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [7]:
data.describe(include="all")

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
count,100.000000,100,100,100,100,100,100,100,100,100,100,100
unique,NaN,100,93,97,99,100,85,100,100,100,96,100
top,NaN,DD37Cf93aecA6Dc,Sheryl,Greer,Simon LLC,East Leonard,Solomon Islands,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2021-12-02,http://www.stephenson.com/
freq,NaN,1,2,2,2,1,4,1,1,1,2,1
mean,50.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,29.011492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,25.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,50.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,75.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
print(data.dtypes)

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [9]:
data.mean(numeric_only=True)

Index    50.5
dtype: float64

In [12]:
data.sum()

Index                                                             5050
Customer Id          DD37Cf93aecA6Dc1Ef7b82A4CAAD106F94879bDAfE5a65...
First Name           SherylPrestonRoyLindaJoannaAimeeDarrenBrettShe...
Last Name            BaxterLozanoBerryOlsenBenderDownsPeckMullenMey...
Company              Rasmussen GroupVega-GentryMurillo-PerryDomingu...
City                 East LeonardEast JimmychesterIsabelboroughBens...
Country              ChileDjiboutiAntigua and BarbudaDominican Repu...
Phone 1              229.077.51545153435776+1-539-402-0259001-808-6...
Phone 2              397.884.0519x718686-620-1820x944(496)978-3969x...
Email                zunigavanessa@smith.infovmata@colon.combeckyca...
Subscription Date    2020-08-242021-04-232020-03-252020-06-022021-0...
Website              http://www.stephenson.com/http://www.hobbs.com...
dtype: object

In [13]:
data.median(numeric_only=True)

Index    50.5
dtype: float64

In [17]:
data.var(numeric_only=True)

Index    841.666667
dtype: float64

In [22]:
data.std(numeric_only=True)

Index    29.011492
dtype: float64

In [23]:
data.quantile(0.75,numeric_only=True)

Index    75.25
Name: 0.75, dtype: float64

In [24]:
q1 = data.quantile(0.25,numeric_only=True)
q3 = data.quantile(0.75,numeric_only=True)
iqr = q3 - q1
iqr

Index    49.5
dtype: float64

In [25]:
data['Company'].value_counts()

Company
Simon LLC                      2
Rasmussen Group                1
Knight, Abbott and Hubbard     1
Parrish Ltd                    1
Huynh and Sons                 1
                              ..
Mcgee Group                    1
Acosta, Petersen and Morrow    1
Sawyer PLC                     1
Santana-Duran                  1
Le, Nash and Cross             1
Name: count, Length: 99, dtype: int64