In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
X = data.iloc[:,3:13].values
Y = data.iloc[:,13].values

In [3]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = ColumnTransformer([('one_hot_encoder', OneHotEncoder(),[1])], remainder = 'passthrough')
X = onehotencoder.fit_transform(X)
X = X[:, 1:]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.4, random_state = 0)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [9]:
classifier = Sequential()

In [10]:
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

c:\Users\HP\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [13]:
classifier.fit(X_train, Y_train, batch_size = 10, epochs = 40)

Epoch 1/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.8363 - loss: 0.4023
Epoch 2/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.8382 - loss: 0.3993
Epoch 3/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 467us/step - accuracy: 0.8415 - loss: 0.3900
Epoch 4/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 452us/step - accuracy: 0.8262 - loss: 0.4191
Epoch 5/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - accuracy: 0.8397 - loss: 0.3947
Epoch 6/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - accuracy: 0.8386 - loss: 0.3949
Epoch 7/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 451us/step - accuracy: 0.8347 - loss: 0.4061
Epoch 8/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - accuracy: 0.8357 - loss: 0.4010
Epoch 9/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.8359 - loss: 0.3982
Epoch 10/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 467us/step - accuracy: 0.8418 - loss: 0.3961
Epoch 11/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 456us/step - accuracy: 0.8306 - loss: 0.4069
Epoch 12/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.8367 - loss: 0.4009
Epoch 13/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - accuracy: 0.8404 - loss: 0.3974
Epoch 14/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.8258 - loss: 0.4158
Epoch 15/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.8306 - loss: 0.4027
Epoch 16/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - accuracy: 0.8423 - loss: 0.3981
Epoch 17/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - accuracy: 0.8320 - loss: 0.4020
Epoch 18/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - accuracy: 0.8316 - loss: 0.4039
Epoch 19/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - accuracy: 0.8447 - loss: 0.3900
Epoch 20/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.8392 - loss: 0.3940
Epoch 21/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - accuracy: 0.8330 - loss: 0.4030
Epoch 22/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 489us/step - accuracy: 0.8380 - loss: 0.4028
Epoch 23/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - accuracy: 0.8347 - loss: 0.4054
Epoch 24/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 455us/step - accuracy: 0.8369 - loss: 0.3982
Epoch 25/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 489us/step - accuracy: 0.8382 - loss: 0.4035
Epoch 26/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.8392 - loss: 0.3960
Epoch 27/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 449us/step - accuracy: 0.8459 - loss: 0.3917
Epoch 28/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.8272 - loss: 0.4057
Epoch 29/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.8354 - loss: 0.4025
Epoch 30/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.8292 - loss: 0.4058
Epoch 31/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - accuracy: 0.8361 - loss: 0.4049
Epoch 32/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.8422 - loss: 0.3884
Epoch 33/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.8363 - loss: 0.4023
Epoch 34/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - accuracy: 0.8407 - loss: 0.3982
Epoch 35/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - accuracy: 0.8436 - loss: 0.3916
Epoch 36/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.8361 - loss: 0.4041
Epoch 37/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - accuracy: 0.8444 - loss: 0.3995
Epoch 38/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - accuracy: 0.8358 - loss: 0.4024
Epoch 39/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 493us/step - accuracy: 0.8423 - loss: 0.3875
Epoch 40/40
600/600 ━━━━━━━━━━━━━━━━━━━━ 0s 464us/step - accuracy: 0.8355 - loss: 0.3944

In [14]:
Y_pred = classifier.predict(X_test)
Y_pred_ = (Y_pred > 0.5)

125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step

In [15]:
from sklearn.metrics import confusion_matrix
con = confusion_matrix(Y_test, Y_pred_)

In [17]:
Y_pred

array([[0.28280458],
       [0.32197908],
       [0.18526019],
       ...,
       [0.02357411],
       [0.03841062],
       [0.01663303]], dtype=float32)

In [18]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [20]:
cm = confusion_matrix(Y_test, Y_pred_)
print("Confusion Matrix:\n", cm)

Confusion Matrix:
 [[3071  101]
 [ 546  282]]

In [21]:
accuracy = accuracy_score(Y_test, Y_pred_)
precision = precision_score(Y_test, Y_pred_)
recall = recall_score(Y_test, Y_pred_)
f1 = f1_score(Y_test, Y_pred_)

In [22]:
print("accuracy = ",accuracy)
print("Precission = ",precision)
print("Recall = ",recall)
print("f1 = ",f1)

accuracy =  0.83825
Precission =  0.7362924281984334
Recall =  0.34057971014492755
f1 =  0.46573080099091657